.chat-message-list {
  background-color: rgba(0,0,0,.15);
  padding: .5rem;
  padding-bottom: 0;
  border-radius: .25rem;
  color: #ddd;
}
.chat-message {
  display: flex;
  margin-bottom: .5rem;
  text-align: left;
}
.chat-message.is-owner {
  justify-content: flex-end;
  border-top-right-radius: 0;
}
.chat-message-inner {
  --border-radius: .25rem;
  min-width: 80px;
  padding: .25rem .65rem;
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  background-color: #454545;
  text-shadow: -1px -1px 0.5px rgba(0,0,0,.15);
  box-shadow: 0 0 10px rgba(0,0,0,.15);
}

.chat-message.is-owner .chat-message-inner {
  background-color: #434381;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: 0;
}
.chat-message-inner sup {
  width: 100%;
  display: block;
  font-size: .75rem;
  opacity: .6;
}

.chat-message-inner p {
  margin: 0;
}