.modal-outer {
  position: fixed;
  display: flex;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  overflow-y: auto;
  padding: 1rem;
}
.modal {
  background-color: #1d1d1d;
  overflow: hidden;
  margin: auto;
  border-radius: .5rem;
  flex-basis: 350px;
}

.modal > * {
  padding: 1rem;
}
.modal .modal-header {
  background-color: #222;
}

.modal .modal-header {
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
}
.modal .modal-header > * {
  margin: 0;
}

.modal .modal-footer {
  border-top: 1px solid rgba(0,0,0,.15);
  text-align: right;
}