.notification-tray {
  position: fixed;
  top: 0;
  right: .5rem;
  display: flex;
  flex-direction: column;
}
.notification {
  display: inline-block;
  margin-left: auto;
  margin-top: .5rem;
  right: .5rem;
  padding: .75rem 1.5rem;
  border-radius: .25rem;
  background-color: #444;
  transition: opacity .5s ease, transform .5s ease;
  text-shadow: 0 -1px rgba(0,0,0,.15);
}
.notification.info {
  background-color: #436fa4;
}
.notification.error {
  background-color: #832e2e;
}
.notification.success {
  background-color: #236e2c;
}
.notification.warning {
  background-color: #aa7023;
}

.notification.hide {
  opacity: 0;
  transform: translateX(100%)
}