.tab-list {
  display: flex;
}
.tab-list .tab {
  flex-grow: 1;
  flex-basis: 50%;
}
.tab-list .tab button {
  width: 100%;
  background-color: transparent;

}
.tab-list .tab.active button {
  background-color: #50538f;
}
